.ca-c-card {
    border: none;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;

    &__header {
        padding: 15px;
        background-color: rgb(50, 93, 233);

        &--bg-blue{
            background-color: #05c84d;
        }
    }

    &__content {
        padding: 15px;
        overflow: hidden;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: white;
    }
}
